<div id="container">

    <div id="map-canvas" style="width: 512px; height: 640px; float: left;"></div>

    <div style="width:200px; float: left;">

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Bunker type:</legend>
            <label ng-repeat="bunkerType in bunkerTypes" class="checkbox">
                <input type="checkbox" value="{{bunkerType.value}}" name="bunkerType"/>
                {{bunkerType.label}}<br/>
            </label>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Bunker code:</legend>
            <select style="width: 100%;" ng-model="selectedBunkerCode"
                    ng-options="bunkerCode.label for bunkerCode in bunkerCodes">
                <option value="">Alle</option>
            </select>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Gemeente:</legend>
            <select style="width: 100%;" ng-model="selectedGemeenteId"
                    ng-options="gemeente.naam for gemeente in gemeentes">
                <option value="">Alle</option>
            </select>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Deelgemeente:</legend>
            <select style="width: 100%;" ng-model="selectedDeelgemeenteId"
                    ng-options="deelgemeente.deelgemeente for deelgemeente in deelgemeentes">
                <option value="">Alle</option>
            </select>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Toestand:</legend>
            <label ng-repeat="bunkerToestand in bunkerToestanden" class="checkbox">
                <input type="checkbox" value="{{bunkerToestand.value}}" name="bunkerToestand"/>
                {{bunkerToestand.label}}<br/>
            </label>
        </fieldset>

    </div>

</div>