<div id="container">

    <div id="map-canvas" style="width: 512px; height: 640px; float: left;"></div>

    <div style="width:200px; float: left;">

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Bunker type:</legend>
            <label ng-repeat="bunkerType in bunkerTypes" class="checkbox" style="margin-left: 2px;">
                <input type="checkbox" ng-model="cb_bunkerTypes[bunkerType.value]" ng-change="filterMarkers()"/>
                {{bunkerType.label}}
                <img ng-src="img/measle{{bunkerTypeColors[bunkerType.value].fillColor.replace('#', '_')}}.png" />
                <br/>
            </label>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Bunker code:</legend>
            <select style="width: 190px; margin-left: 4px;" ng-model="selectedBunkerCode"
                    ng-options="bunkerCode.label for bunkerCode in bunkerCodes">
                <option value="">Alle</option>
            </select>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Gemeente:</legend>
            <select style="width: 190px; margin-left: 4px;" ng-model="selectedGemeenteId"
                    ng-options="gemeente.naam for gemeente in gemeentes">
                <option value="">Alle</option>
            </select>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Deelgemeente:</legend>
            <select style="width: 190px; margin-left: 4px;" ng-model="selectedDeelgemeenteId"
                    ng-options="deelgemeente.deelgemeente for deelgemeente in deelgemeentes">
                <option value="">Alle</option>
            </select>
        </fieldset>

        <fieldset class="fieldgroup">
            <legend class="fieldgrouplegend">Aanwezig:</legend>
            <label ng-repeat="bunkerToestand in bunkerToestanden" class="checkbox" style="margin-left: 2px;">
                <input type="checkbox" ng-model="cb_aanwezig[bunkerToestand.value]" ng-change="filterMarkers()"/>
                {{bunkerToestand.label}}<br/>
            </label>
        </fieldset>

        <button ng-click="filterMarkers()">Filter</button>

    </div>

</div>