.fieldgroup {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 0px;
}

.fieldgrouplegend {
    font-weight: bold;
}