.fieldgroup {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0.25em;
    padding-bottom: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 0px;
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
}

.fieldgrouplegend {
    font-size: 12px;
}

.listgroup {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0.25em;
    padding-bottom: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 0px;
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
}

.listgroup label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 4px;
}

.listgroup .ycoo {
    width: auto;
    padding-left: 12px;
}

.radioTab {
    display: none;
}

.tabs {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    border: 0px;
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
}

.mapTab {
    background-image: url('../img/pin.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 4px;
}

.listTab {
    background-image: url('../img/list.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 4px;
}